<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
		<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/xuce/book/user/vo/User.hbm.xml</value>
				<value>com/xuce/book/category/vo/Category.hbm.xml</value>
				<value>com/xuce/book/product/vo/Product.hbm.xml</value>
				<value>com/xuce/book/categorySecond/vo/CategorySecond.hbm.xml</value>
				<value>com/xuce/book/adminuser/vo/AdminUser.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- Action的配置 ===========================-->
	<!-- 验证码配置 -->
	<bean id="checkImgAction" class="com.xuce.book.user.action.CheckImgAction"></bean>
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="com.xuce.book.index.action.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- 用户模块的Action -->
	<bean id="userAction" class="com.xuce.book.user.action.UserAction" scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="productAction" class="com.xuce.book.product.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	<!-- 购物车Action -->
	<bean id="cartAction" class="com.xuce.book.cart.action.CartAction" scope="prototype">
		<property name="productService" ref="productService"/>
	</bean>
	<!-- 订单action -->
	<bean id="orderAction" class="com.xuce.book.order.action.OrderAction">
		<property name="orderService" ref="orderService"></property>
	</bean>
	<!-- 配置后台登录的Action--> 
	<bean id="adminUserAction" class="com.xuce.book.adminuser.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"/>
	</bean>
	
	
	<!-- 配置后台一级管理的Action -->
	<bean id="adminCategoryAction" class="com.xuce.book.category.adminaction.AdminCategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!-- 配置后台二级分类管理的Action -->
	<bean id="adminCategorySecondAction" class="com.xuce.book.categorySecond.adminaction.AdminCategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"/>
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!-- 后台商品管理action -->
	<bean id="adminProductAction" class="com.xuce.book.product.adimaction.AdminProductAction">
		<property name="productService" ref="productService"></property>
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>
	
	<!-- 后台订单管理 -->
	<bean id="adminOrderAction" class="com.xuce.book.order.adminorder.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	 
	<!-- service配置 ==================================-->
	<bean id="userService" class="com.xuce.book.user.service.UserService">
		<!-- 注入dao -->
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="categoryService" class="com.xuce.book.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao"/>
	</bean>
	<bean id="productService" class="com.xuce.book.product.service.ProductService">
		<property name="productDao" ref="productDao"/>
	</bean>
	<bean id="orderService" class="com.xuce.book.order.service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	<bean id="adminUserService" class="com.xuce.book.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"/>
	</bean>
	
	<bean id="categorySecondService" class="com.xuce.book.categorySecond.service.SecondService">
		<property name="categorySecondDao" ref="categorySecondDao"/>
	</bean>
	
	
	
	<!-- dao配置 =========================================-->
	<bean id="userDao" class="com.xuce.book.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="categoryDao" class="com.xuce.book.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="productDao" class="com.xuce.book.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adminUserDao" class="com.xuce.book.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="categorySecondDao" class="com.xuce.book.categorySecond.dao.SecondDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="orderDao" class="com.xuce.book.order.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
